<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vanhlebarsoftware.kmmdroid"
      android:versionCode="2"
      android:versionName="0.1.8.0"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:icon="@drawable/kmymoney" 
    	android:label="@string/app_name"
    	android:name=".KMMDroidApp">
    	
        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileChooser"
        		  android:label="@string/titleFileChooser">
        </activity>
        <activity android:name=".NewDatabaseActivity"
        		  andrid.label="@string/titleNewDatabase">
        </activity>
        <activity android:name=".HomeActivity"
        		  android.label="@string/titleHome">
        </activity>
        <activity android:name=".LedgerActivity"
        		  android:label="@string/titleLedger">
		</activity>
		<activity android:name=".ViewTransactionActivity"
				  android:label="@string/titleViewTransaction">
		</activity>
		
		<activity android:name=".AccountsActivity"
				  android:label="@string/titleAccounts">
		</activity>
		
		<activity android:name=".PayeeActivity"
				  android:label="@string/titlePayees">
		</activity>
		<activity android:name=".PayeeTransactionsActivity"
				  android:label="@string/titlePayeeTransactions">
		</activity>
		<activity android:name=".CreateModifyPayeeActivity"
				  android:label="@string/titleCreateModPayee">
		</activity>
		<activity android:name=".PayeeAddressActivity"
				  android:label="@string/titlePayeeAddress">
		</activity>
		<activity android:name=".PayeeDefaultAccountActivity"
				  android:label="@string/titlePayeeDefaultAccount">
		</activity>
		<activity android:name=".PayeeMatchingActivity"
				  android:label="@string/titlePayeeMatching">
		</activity>
		<activity android:name=".PayeeReassignActivity"
				  android:label="@string/titleReassignPayee">
		</activity>
		
		<activity android:name=".CategoriesActivity"
				  android:label="@string/titleCategories">
		</activity>
		<activity android:name=".CreateModifyAccountActivity"
				  android:label="@string/titleCreateAccounts">
		</activity>
		<activity android:name=".CreateAccountInstitutionActivity"
				  android:label="@string/titleCreateAccountInstitution">
		</activity>
		<activity android:name=".CreateAccountAccountActivity"
				  android:label="@string/titleCreateAccountAccount">
		</activity>
		<activity android:name=".CreateAccountParentActivity"
				  android:label="@string/titleCreateAccountParent">
		</activity>
		
		<activity android:name=".CreateModifyCategoriesActivity"
				  android:label="@string/titleCreateModCategory">
		</activity>
		<activity android:name=".CategoriesGeneralActivity"
				  android:label="@string/titleCategoryGeneral">
		</activity>
		<activity android:name=".CategoriesHierarchyActivity"
				  android:label="@string/titleCategoryHierarchy">
		</activity>
		
		<activity android:name=".CreateModifyInstitutionActivity"
				  android:label="@string/titleCreateModifyInstitution">
		</activity>
		
		<activity android:name=".InstitutionsActivity"
				  android:label="@string/titleInstitutions">
		</activity>
		
		<activity android:name=".CreateModifyTransactionActivity"
				  android:label="@string/titleCreateModifyTransactions">
		</activity>
		
		<activity android:name=".CreateModifySplitsActivity"
				  android:label="@string/titleCreateModifySplits">
		</activity>
		
		<activity android:name=".PrefsActivity"
				  android.label=".@string/titlePrefs">
		</activity>
	
		<activity android:name=".AboutActivity"
				  android:label="@string/titleAbout">
		</activity>
		
		<activity android:name=".SchedulesActivity"
			      android:label="@string/titleSchedules">
		</activity>
    </application>
</manifest>