<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vanhlebarsoftware.kmmdroid"
      android:versionCode="2"
      android:versionName="0.2.0.7"
      android:installLocation="auto">
    <uses-sdk android:minSdkVersion="10" />

    <permission android:name="com.vanhlebarsoftware.kmmdroid.SEND_HOME_UPDATE_NOTIFICATIONS"
        		android:label="@string/send_home_update_notifications_permission_label"
        		android:description="@string/send_home_update_notifications_permission_description"
        		android:permissionGroup="android.permission-group.PERSONAL_INFO"
        		android:protectionLevel="normal">
        
    </permission>
    <permission android:name="com.vanhlebarsoftware.kmmdroid.RECEIVE_HOME_UPDATE_NOTIFICATIONS"
        		android:label="@string/receive_home_update_notifications_permission_label"
        		android:description="@string/receive_home_update_notifications_permission_description"
        		android:permissionGroup="android.permission-group.PERSONAL_INFO"
        		android:protectionLevel="normal">
    </permission>
    <uses-permission android:name="com.vanhlebarsoftware.kmmdroid.SEND_HOME_UPDATE_NOTIFICATIONS" />
    <uses-permission android:name="com.vanhlebarsoftware.kmmdroid.RECEIVE_HOME_UPDATE_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:icon="@drawable/kmymoney" 
    	android:label="@string/app_name"
    	android:name=".KMMDroidApp">
    	
        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileChooser"
        		  android:label="@string/titleFileChooser">
        </activity>
        <activity android:name=".NewDatabaseActivity"
        		  andrid.label="@string/titleNewDatabase">
        </activity>
        <activity android:name=".HomeActivity"
        		  android.label="@string/titleHome">
        </activity>
        <activity android:name=".LedgerActivity"
        		  android:label="@string/titleLedger">
		</activity>
		<activity android:name=".ViewTransactionActivity"
				  android:label="@string/titleViewTransaction">
		</activity>
		
		<activity android:name=".AccountsActivity"
				  android:label="@string/titleAccounts">
		</activity>
		
		<activity android:name=".PayeeActivity"
				  android:label="@string/titlePayees">
		</activity>
		<activity android:name=".TransactionsTabActivity"
				  android:label="@string/titlePayeeTransactions">
		</activity>
		<activity android:name=".CreateModifyPayeeActivity"
				  android:label="@string/titleCreateModPayee">
		</activity>
		<activity android:name=".PayeeAddressActivity"
				  android:label="@string/titlePayeeAddress">
		</activity>
		<activity android:name=".PayeeDefaultAccountActivity"
				  android:label="@string/titlePayeeDefaultAccount">
		</activity>
		<activity android:name=".PayeeMatchingActivity"
				  android:label="@string/titlePayeeMatching">
		</activity>
		<activity android:name=".PayeeReassignActivity"
				  android:label="@string/titleReassignPayee">
		</activity>
		
		<activity android:name=".CategoriesActivity"
				  android:label="@string/titleCategories">
		</activity>
		<activity android:name=".CreateModifyAccountActivity"
				  android:label="@string/titleCreateAccounts">
		</activity>
		<activity android:name=".CreateAccountInstitutionActivity"
				  android:label="@string/titleCreateAccountInstitution">
		</activity>
		<activity android:name=".CreateAccountAccountActivity"
				  android:label="@string/titleCreateAccountAccount">
		</activity>
		<activity android:name=".CreateAccountParentActivity"
				  android:label="@string/titleCreateAccountParent">
		</activity>
		
		<activity android:name=".CreateModifyCategoriesActivity"
				  android:label="@string/titleCreateModCategory">
		</activity>
		<activity android:name=".CategoriesGeneralActivity"
				  android:label="@string/titleCategoryGeneral">
		</activity>
		<activity android:name=".CategoriesHierarchyActivity"
				  android:label="@string/titleCategoryHierarchy">
		</activity>
		
		<activity android:name=".CreateModifyInstitutionActivity"
				  android:label="@string/titleCreateModifyInstitution">
		</activity>
		
		<activity android:name=".InstitutionsActivity"
				  android:label="@string/titleInstitutions">
		</activity>
		
		<activity android:name=".CreateModifyTransactionActivity"
				  android:label="@string/titleCreateModifyTransactions">
		</activity>
		
		<activity android:name=".CreateModifySplitsActivity"
				  android:label="@string/titleCreateModifySplits">
		</activity>
		
		<activity android:name=".PrefsActivity"
				  android.label=".@string/titlePrefs">
		</activity>
	
		<activity android:name=".AboutActivity"
				  android:label="@string/titleAbout">
		</activity>
		
		<activity android:name=".SchedulesActivity"
			      android:label="@string/titleSchedules">
		</activity>
		
		<activity android:name=".CashRequirementsActivity"
				  android:label="@string/titleCashRequirements">
		</activity>
		
		<activity android:name=".CashRequirementsOptionsActivity"
				  android:label="@string/titleOptions">
		</activity>
		
		<activity android:name=".ScheduleActionsActivity"
		    	  android:theme="@android:style/Theme.Dialog"
		    	  android:label="@string/titleDialogScheduleActions">
		</activity>
		
		<activity android:name=".HomeScreenConfiguration"
		    	  android:label="@string/titleHomeWidgetConfiguration">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
		    </intent-filter>
		</activity>
		
		<provider android:name=".KMMDProvider"
				  android:authorities="com.vanhlebarsoftware.kmmdroid.kmmdprovider">
		</provider>
		
		<receiver android:name=".BasicHomeWidget"
				  android:label="@string/titleBasicHomeWidget">
			<intent-filter>
				  <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>		  
			<intent-filter>
				  <action android:name="com.vanhlebarsoftware.kmmdroid.DATA_CHANGED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
					   android:resource="@xml/basic_widget_info" />
		</receiver>
		
		<service android:name=".KMMDService">
		</service>
    </application>
</manifest>