<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.vanhlebarsoftware.kmmdroid"
      android:versionCode="3"
      android:versionName="0.7.1.1"
      android:installLocation="auto">
    <uses-sdk 
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <permission android:name="com.vanhlebarsoftware.kmmdroid.SEND_HOME_UPDATE_NOTIFICATIONS"
        		android:label="@string/send_home_update_notifications_permission_label"
        		android:description="@string/send_home_update_notifications_permission_description"
        		android:permissionGroup="android.permission-group.PERSONAL_INFO"
        		android:protectionLevel="normal">
        
    </permission>
    <permission android:name="com.vanhlebarsoftware.kmmdroid.RECEIVE_HOME_UPDATE_NOTIFICATIONS"
        		android:label="@string/receive_home_update_notifications_permission_label"
        		android:description="@string/receive_home_update_notifications_permission_description"
        		android:permissionGroup="android.permission-group.PERSONAL_INFO"
        		android:protectionLevel="normal">
    </permission>
    <uses-permission android:name="com.vanhlebarsoftware.kmmdroid.SEND_HOME_UPDATE_NOTIFICATIONS" />
    <uses-permission android:name="com.vanhlebarsoftware.kmmdroid.RECEIVE_HOME_UPDATE_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application 
        android:icon="@drawable/kmymoney" 
    	android:label="@string/app_name"
    	android:name=".KMMDroidApp"
    	android:allowBackup="true">
    	
        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileChooser"
        		  android:label="@string/titleFileChooser"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".NewDatabaseActivity"
        		  android:label="@string/titleNewDatabase"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HomeActivity"
        		  android:label="@string/titleHome"
        		  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".LedgerActivity"
        		  android:label="@string/titleLedger"
        		  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".ViewTransactionActivity"
				  android:label="@string/titleViewTransaction"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".AccountsActivity"
				  android:label="@string/titleAccounts"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".PayeeActivity"
				  android:label="@string/titlePayees"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".TransactionsTabActivity"
				  android:label="@string/titlePayeeTransactions"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CreateModifyPayeeActivity"
				  android:label="@string/titleCreateModPayee"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".PayeeAddressActivity"
				  android:label="@string/titlePayeeAddress"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".PayeeDefaultAccountActivity"
				  android:label="@string/titlePayeeDefaultAccount"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".PayeeMatchingActivity"
				  android:label="@string/titlePayeeMatching"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".PayeeReassignActivity"
				  android:label="@string/titleReassignPayee"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CategoriesActivity"
				  android:label="@string/titleCategories"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CreateModifyAccountActivity"
				  android:label="@string/titleCreateAccounts"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CreateAccountInstitutionActivity"
				  android:label="@string/titleCreateAccountInstitution"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CreateAccountAccountActivity"
				  android:label="@string/titleCreateAccountAccount"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CreateAccountParentActivity"
				  android:label="@string/titleCreateAccountParent"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CreateModifyCategoriesActivity"
				  android:label="@string/titleCreateModCategory"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CategoriesGeneralActivity"
				  android:label="@string/titleCategoryGeneral"
				  android:screenOrientation="portrait">
		</activity>
		<activity android:name=".CategoriesHierarchyActivity"
				  android:label="@string/titleCategoryHierarchy"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CreateModifyInstitutionActivity"
				  android:label="@string/titleCreateModifyInstitution"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".InstitutionsActivity"
				  android:label="@string/titleInstitutions"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CreateModifyTransactionActivity"
				  android:label="@string/titleCreateModifyTransactions"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CreateModifySplitsActivity"
				  android:label="@string/titleCreateModifySplits"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".PrefsActivity"
				  android:label="@string/titlePrefs"
				  android:screenOrientation="portrait">
		</activity>
	
		<activity android:name=".AboutActivity"
				  android:label="@string/titleAbout"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".SchedulesActivity"
			      android:label="@string/titleSchedules"
			      android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CashRequirementsActivity"
				  android:label="@string/titleCashRequirements"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CashRequirementsOptionsActivity"
				  android:label="@string/titleOptions"
				  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".ScheduleActionsActivity"
		    	  android:theme="@style/DialogNoTitle"
		    	  android:label="@string/titleDialogScheduleActions"
		    	  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".CreateModifyScheduleActivity"
		    	  android:label="@string/titleCreateModifySchedule"
		    	  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".SchedulePaymentInfoActivity"
		    	  android:label="@string/titleSchedulePaymentInfo"
		    	  android:screenOrientation="portrait">
		</activity>		
		
		<activity android:name=".ScheduleOptionsActivity"
		    	  android:label="@string/titleScheduleOptions"
		    	  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".ViewScheduleActivity"
		    	  android:label="@string/titleSchedules"
		    	  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".SchedulesNotificationsActivity"
		    	  android:label="@string/titleSchedulesNotifications"
		    	  android:screenOrientation="portrait">
		</activity>
		
		<activity android:name=".HomeScreenConfiguration"
		    	  android:label="@string/titleHomeWidgetConfiguration"
		    	  android:screenOrientation="portrait">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
		    </intent-filter>
		</activity>

		<activity
				  android:name=".CloudIntegrationActivity"
				  android:label="@string/titleDropbox"
				  android:screenOrientation="portrait">
		</activity>
    	<activity
      			  android:name="com.dropbox.client2.android.AuthActivity"
      			  android:launchMode="singleTask"
      			  android:configChanges="orientation|keyboard">
      			  <intent-filter>
        		  <!-- Change this to be db- followed by your app key -->
        		  <data android:scheme="db-1r7ua9d5ckmxwse" />
        		  <action android:name="android.intent.action.VIEW" />
        		  <category android:name="android.intent.category.BROWSABLE"/>
        		  <category android:name="android.intent.category.DEFAULT" />
      			  </intent-filter>
    	</activity>
		
    	<activity 
    	    	  android:name=".LoadMoreTransactionsActivity"
    	    	  android:label="@string/titleLoadMore"
    	    	  android:theme="@style/DialogNoTitle"
    	    	  android:screenOrientation="portrait" >    	    
    	</activity>
    	
    	<activity
    	    	  android:name=".ReportsActivity"
    	    	  android:label="@string/titleReports"
    	    	  android:theme="@style/ListFont"
    	    	  android:screenOrientation="portrait" >    	    
    	</activity>
    	
    	<activity 
    	    	  android:name="org.acra.CrashReportDialog"
        		  android:theme="@android:style/Theme.Dialog"
        		  android:launchMode="singleInstance"
        		  android:excludeFromRecents="true"
        		  android:finishOnTaskLaunch="true" >
      	</activity>
      	
		<provider android:name=".KMMDProvider"
				  android:authorities="com.vanhlebarsoftware.kmmdroid.kmmdprovider"
				  android:exported="false">
		</provider>
		
		<receiver android:name=".BasicHomeWidget"
				  android:label="@string/titleBasicHomeWidget">
			<intent-filter>
				  <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>		  
			<intent-filter>
				  <action android:name="com.vanhlebarsoftware.kmmdroid.DATA_CHANGED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
					   android:resource="@xml/basic_widget_info" />
		</receiver>
		
		<receiver android:name=".KMMDAlarmReceiver"
		    	  android:label="@string/titleKMMDAlarmReceiver">
		    <intent-filter>
		        <action android:name="com.vanhlebarsoftware.kmmdroid.CHECK_SCHEDULES" />
		    </intent-filter>
		</receiver>
		
		<receiver android:name=".KMMDBootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
		<service android:name=".KMMDService">
		</service>
		<service android:name=".KMMDNotificationsService">
		</service>
		<service android:name="com.vanhlebarsoftware.kmmdroid.KMMDDropboxService">
		</service>
    </application>
</manifest>
